body{
    color: #fff;
    background-color: rgb(100, 100, 100);
    background-image: url(/Images/GamingDog.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, p{
    margin: 20px 300px;
    float: left;
    font-family: tahoma;
}

h1{
    font-size: 70px;
}

p{
    font-size: 30px;
}