.box{
    width: 800px;
    height: 380px;
    margin: 150px auto;
    color: #ff0;
    border-radius: 20px;
    border: 5px dashed #ff0;
    background-color: rgba(0, 0, 0, .25);
    background-image: url('/Images/GamingDog.png');
    background-size: cover;
    background-repeat: space;
    
}

.box h1, p{
    margin: 20px 40px;
    float: left;
    text-shadow: 2px 2px 2px #000;
}