.box{
    width: 640px;
    height: 400px;
    margin: 50px auto;
    color: #ff0;
    background-color: #ff0;
    border: 40px dotted #f00;
    padding: 40px;
    background-clip: content-box;  /*default: border box, padding box, content box */
}

.box p{
    margin: 20px 0px 0px 0px;
    float: left;
    font-size: 30px;
    font-family: tahoma;
}

.box h1{
    font-size: 55px;
    font-family: tahoma;
}